<!DOCTYPE html>
<html>
<head>
  <title>Hello, World!</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to My Express App</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <section class="home-box box">
    <h2>Welcome to My Express App</h2>
    <p>This is the home page of my Express.js web application.</p>
  </section>
  
</body>
</html>
